

.flip-container {
	-webkit-perspective: 1200;
	-moz-perspective: 1200;
	perspective: 1200;
}
.flipped{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

}

.flip-container,.front, .back{
	height:300px;
  width:200px;
}
/* flip speed goes here */
.flipper {
	-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
	transition: 1.5s;
	transform-style: preserve-3d;
	position: relative;
  border-radius:5px;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	border-radius:5px;
	z-index: 3;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
  border-radius:5px;

}

@media screen and (max-width: 480px) {
	.flip-container, .front, .back{
		height: 180px;
		width:150px;
	}
}

@media screen and (min-width:481px) and (max-width:768px){
	.flip-container, .front, .back{
		height: 250px;
		width:200px;
	}

}
